<main class="main">
  <div class="inner">
      <div class = "profile-header"> <div class = "profile-header-text">プロフィール</div> </div>
    
    <div class = "profile-group"> 
      <div class = "profile-wrap"> 
        <div class = "profile"> ユーザー</div>
          <div class = "profile-text"><%=@user.name%></div> 
                                                                                    
      </div>                                             
    </div>

    <div class = "profile-group"> 
      <div class = "profile-wrap"> 
        <div class = "profile"> 趣味</div>
          <div class = "profile-text"><%=@user.profile.hobby%></div> 
                                                                                    
      </div>                                             
    </div>

    <div class = "profile-group"> 
      <div class = "profile-wrap"> 
        <div class = "profile"> 好きな本、映画、音楽など</div>
          <div class = "profile-text"><%=@user.profile.favorite%></div> 
                                                                                    
      </div>                                             
    </div>

    <div class = "profile-group"> 
      <div class = "profile-wrap"> 
        <div class = "profile"> 一言コメント</div>
          <div class = "profile-text"><%=@user.profile.comment%></div> 
                                                                                    
      </div>                                             
    </div>
  
      <div class = 'edit-parent'>
        <%if current_user.id == @profile.user_id %>
          <div><%= link_to '編集する', edit_profile_path(@user.id), class: 'edit-text' %></div>
          <div><%= link_to '戻る', root_path, class: 'edit-text' %></div>
            <%else%>
          <div><%= link_to '戻る', root_path, class: 'edit-text' %></div>
        <%end%>
      </div>                                      
  </div>                                                
</main>
