<div class='wrapper'>
      <div class='side-bar'>
        <div class="side-bar-parent">
          <div class="side-bar-header">
                <div class="header-name">
                      <%if current_user.profile != nil%>
                        <%= link_to current_user.name, profile_path(current_user.profile.id) %>
                      <%else%>
                        <%= link_to current_user.name, new_profile_path%>
                      <%end%>
                </div>
                  <div class="create-room">
                    <%= link_to "チャットを作成する", new_room_path %>
                  </div>
                  <div class="room-out">
                    <%= link_to "退室する", root_path %>
                  </div>
          </div>
        </div>

          <div class="rooms_parent">
            <div class="rooms">
                        <% current_user.rooms.each do |room| %>
                            <div class="room">
                              <div class="room-name"><%= link_to room.name, room_messages_path(room)%></div>
                            </div>
                        <% end %>
            </div>
          </div>
      </div>
</div>
